
  body{
    margin: 0;
    font-family:'メイリオ', 'ＭＳ ゴシック',sans-serif;
  }
  
  #nav-drawer {
    position: relative;
  }
  .nav-unshown {
    display:none;
  }
  #nav-open {
    display: inline-block;
    width: 30px;
    height: 22px;
    vertical-align: middle;
  }
  #nav-open span, #nav-open span:before, #nav-open span:after {
    position: absolute;
    height: 3px;/*線の太さ*/
    width: 25px;/*長さ*/
    border-radius: 3px;
    background: rgb(255, 255, 255);
    display: block;
    content: '';
    cursor: pointer;
  }
  #nav-open span:before {
    bottom: -8px;
  }
  #nav-open span:after {
    bottom: -16px;
  }
  
  #nav-close {
    display: none;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: .3s ease-in-out;
  }
  
  /*中身*/
  #nav-content {
    overflow:scroll;
    position: fixed;
    top: 8%;
    left: 5%;
    z-index: 1000;
    width: 80%;
    max-width: 330px;
    height: 95%;
    background: #fff;
    transition: .3s ease-in-out;
    -webkit-transform: translateX(-105%);
    transform: translateX(-120%);
    
  }
  .fixed {
    position: fixed;
    width: 100%;
    height: 100%;
  }

  #nav-input:checked ~ #nav-close {
    display: block;
    opacity: .6;
  }
  
  #nav-input:checked ~ #nav-content {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    box-shadow: 6px 0 25px rgba(0, 0, 0, 0.15);
  }

  .nav-content.active{
    transform:translateY(-120%);
  }
  #nav-content1 {
    position: fixed;
    top: 0;
    left: 5%;
    z-index: 1000;
    width: 80%;
    max-width: 330px;
    height: 95%;
    background: rgba(255, 255, 255, 0);
    transition: .3s ease-in-out;
    -webkit-transform: translateX(-105%);
    transform: translateX(-120%);
    color: #fff;
  }

  #nav-input:checked ~ #nav-content1 {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    box-shadow: 6px 0 25px rgba(0, 0, 0, 0.15);
  }
  .hello{
    position: absolute;
    top:3%;
    padding-left: 3%;
  }
  .bye{
    position: absolute;
    top:2%;
    padding-left: 95%;
    font-size: 150%;
  }
  ul {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    list-style-type: none;
    padding-left: 0%;
  }
  ul li{
    padding-bottom: 10%;
  }
  ul li a {
    text-decoration: none;
    color: black;
    padding-left: 10%;
  }
  .linkSide{
    padding-left: 40%;
  }
  .under{
    padding-bottom: 5%;
    border-bottom: 1px solid #ccc;
  }
  .program{
    font-size: 13px;
    color: rgb(165, 165, 165);
  }
  .logo{
   margin: auto;
   padding-left: 40px;
   height:40px;
   
  }
  header{
    display: flex;
    padding-left: 8px;
    padding-top: 8px;
    background-color: #232F3E;
  }
  .mark{
    height:26px;
    width: 26px;
    padding-right:8px;
  }
  
  input.font-awesome {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    height: 25px;
    width: 97%;
    margin: 1%;
  }
  .font-awesome{
    position: absolute;
    border-radius: 3px ;
    border: 1px solid #ccc;
  }
  .cameramike{
    height: 27px;
    width: 70px;
    margin: 1.2%;
    padding-left: 77%;
    z-index: 5;
  }
  .ser{
    display: flex;
    background-color: #232F3E;
  }
  .mydate{
    background: #34445c;
    color: #fff;
    padding-top:3px ;
  }
  .site{
    height: 28px;
    width: 30px;
    padding-left:5px; 
    
  }
  .address{
    position: relative;
    font-size: 12px;
    bottom: 10px;
    left: 4px;
    font-weight:100;
  }
  .smartspeaker{
    width: 100%;
    background: #ccc;
  }
  .primepets{
    background: rgb(223, 223, 223);
    padding-top: 7px;
    margin-top: -7px;
  }
  .setprime{
    width: 100%;
    padding-left: 1px;
  }
  .timesale{
    font-weight:500;
    margin-top: 10px;
    margin-left: 12px;
    margin-bottom: 10px;
  }
  .sale{
    text-align: center;
  }
  .productName{
    font-size: 15px;
    padding-left: 10px;
  }
  .price{
    font-size: 15px;
    margin-left: 13px;
    padding-bottom: 10px;
    padding-right: 63%;
    border-bottom: solid 1px #ccc;
  }
  .last{
    font-weight:500;
    padding-left: 13px;
    padding-right: 0%;
    font-size: 15px;
    color: #0198df;
    padding-bottom: 14px;
    border-bottom: solid 5px rgb(223, 223, 223);
  }
  .product{
    position: absolute;
    font-weight:500;
    font-size: 18px;
    margin-left: 12px;
    margin-bottom: 10px;
    padding-right: 31%;
    border-bottom: solid 1px #ccc;
  }
  .icon{
    padding-top: 4%;
    height: 5%;
    width: 10%;
  }